@import "variables.css";
@import "header-main.css";
@import "body-content-main.css";
@import "modal-main.css";

html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: 'Commissioner', sans-serif;
}

* ,*::before,*::after{
    box-sizing: inherit;
}

.container{
    width: 100%;
    height: 100%;
}

.opacity{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(92, 92, 92, 0.295);
    z-index: 3;
    height: 185.7rem;
    display: none;
}

.hero-bg{
    width: 100%;
    height: 50vh;
    background-image: url(/web-pictures/images/image-hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

header{
    width: 90%;
    height: 6.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-content{
    width: 90%;
    height: 100%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-2%);
    border-radius: 20px;
    background-color: var(--white);
    position: relative;
   
}

.popup-modal{
    width: 90%;
    height: 85rem;
    padding-top: 1.8rem;
    border-radius: 15px;
    color: var(--dark-grey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -17%) scale(0);
    background-color: (var(--white));
}